* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    background-color: #f5b549;
    grid-template-rows: auto auto auto;
}

.province {
    width: 100px;
}