@media (max-width: 425px) {
  #skills-list {
    flex-direction: column;
    margin-bottom: 15px;
  }

  #skills-list ul {
    margin-bottom: 15px;
  }
}

#skills-list {
  margin: 25px 0px 25px 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#skills-list ul {
  list-style: circle;
  flex-direction: column;
}

#experience-list {
  list-style: none;
}

#experience-list li ul {
  list-style: none;
}
