@media (max-width: 425px) {
  #game-frame {
    width: 300px;
    height: 200px;
  }
}

@media (min-width: 568px) {
  #game-frame {
    width: 500px;
    height: 350px;
  }
}

@media (min-width: 872px) {
  #game-frame {
    width: 800px;
    height: 550px;
  }
}

#content-wrapper {
    display: flex;
    flex-direction: column;
}

#game-wrapper {
  align-self: center;
  position: relative;
  margin-top: 15px;
  margin-bottom: 40px;
}

#game-frame {
  display: block;
  margin: 0 auto;
  top: 0;
  left: 0;
}

#controls {
  text-align: center;
  margin-bottom: 50px;
}
