* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  font-family: Arial, Helvetica, serif;
  font-size: large;
}

.intro {
  display: flex;
  flex-direction: column;
  margin: 10% 10% 5% 10%;
  font-family: inherit;
  align-items: center;
}  

.intro img {
  width: 75%;
  height: 75%;
  border: 2px solid black;
  margin: 0px 0px 20px 0px;
}

.cstalk p { margin: 7% 15% 5% 15%; }

.cstalk img { 
  display: block;
  margin: auto;
  border: 2px solid black;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer img {
  width: 1.5rem;
}

.footer a {
  text-decoration: none;
  color: inherit;
  margin: 0px 10px 0px 5px;
}

@media screen and (min-width: 500px)
{
  .intro {
    display: initial;
  }

  .intro img {
    width: 60%;
    height: 60%;
    float: left;
    margin: 5% 10% 5% 5%;
  }

  .intro p {
    display: initial;
    float: none;
  }

  .navbar {
      margin: 10% 0px 0px 0px;
  }

  .wrapper {
    margin: 0px 0px 0px 10%;
  }
}

@media screen and (min-width: 701px)
{
  .intro {
    display: flex;
    flex-direction: column;
    margin: 10% 5% 5% 5%;
    font-family: inherit;
    align-items: center;
  }  
}

@media screen and (min-width: 1000px)
{
  .intro {
    display: flex;
    flex-direction: row;
    margin: 10% 10% 5% 10%;
    font-family: inherit;
    align-items: center;
  }  

  .intro img {
    width: 75%;
    height: 75%;
    border: 2px solid black;
    margin: 0px 50px 0px 0px;
  }
}